@import "variables.scss";
.content-wrapper {
    .container {
        background-image: url("./bg/wall.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .cart-form {
            h1 {
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Lucida Sans Regular", "Lucida Grande",
                    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                text-align: center;
                font-size: 3em;
                text-transform: uppercase;
                letter-spacing: 5px;
                margin: 30px 0px;
                filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.4));
                border-radius: 10%;
            }
            background: #fff;
            width: 1024px;
            min-height: 410px;
            margin: 50px 0px;
            .cart-wrapper {
                width: 100%;
                height: 100%;
                .spin-wrapper {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .ant-spin-dot {
                        .ant-spin-dot-item {
                            background-color: #b76e22;
                        }
                    }
                }
                .col-one {
                    width: 60%;
                    padding: 0px 20px;

                    .abc {
                        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
                        padding: 15px;
                        width: 100%;
                        margin-bottom: 30px;
                        .product-name {
                            display: flex;
                            justify-content: space-between;
                            h3 {
                                text-transform: uppercase;
                                font-weight: 700;
                                font-size: 25px;
                            }
                        }
                        .product-detail {
                            img {
                                border-radius: 15px;
                                box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
                                width: 100px;
                            }
                            ul {
                                margin-left: 60px;
                                li {
                                    font-size: 20px;
                                    list-style: disc;
                                    font-weight: 300;
                                }
                            }
                        }
                        .ant-divider-horizontal {
                            margin: 15px 0px;
                        }
                        .product-quantity {
                            display: flex;
                            justify-content: space-between;
                            border-top: 1px solid #ccc;
                            padding-top: 20px;
                            margin-top: 20px;
                            .quantity-box {
                                font-size: 20px;
                                display: flex;
                                button {
                                    margin: 0 10px;
                                    outline: none;
                                    border-radius: 50%;
                                    color: #333;
                                    font-weight: 700;
                                    width: 30px;
                                    height: 30px;
                                    background: rgb(255, 255, 255);
                                    transition: 0.5s;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    padding-bottom: 5px;
                                    &:hover {
                                        transform: scale(1.3);
                                        cursor: pointer;
                                        //box-shadow: 0px 3px 10px rgba(0,0,0,0.8);
                                        transition: 0.5s;
                                    }
                                }
                            }
                            p {
                                font-size: 20px;
                                font-weight: 700;
                            }
                        }
                    }
                    textarea {
                        width: 100%;
                        height: 70px;
                        background: rgb(221, 221, 221);
                    }
                    .product-count {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 700;
                        font-size: 20px;
                        border-top: 1px solid #ccc;
                        padding-top: 20px;
                        margin-top: 20px;
                    }
                    .ant-divider-horizontal {
                        margin: 15px 0px;
                    }
                }
                .col-two {
                    width: 40%;
                    padding: 0px 25px;

                    .product-count {
                        display: flex;
                        justify-content: space-between;
                        font-weight: 700;
                        font-size: 18px;
                    }
                    .product-warning {
                        padding-bottom: 10px;
                        p {
                            font-size: 16px;
                            color: red;
                            font-weight: 500;
                            span {
                                font-weight: 700;
                                text-transform: uppercase;
                            }
                        }
                    }
                    .product-code {
                        padding: 1.5em 0px;
                        border-top: 1px solid #ccc;
                        Input {
                            margin-bottom: 10px;
                            height: 50px;
                            &::placeholder {
                                font-size: 20px;
                            }
                        }
                        button {
                            width: 100%;
                            height: 50px;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 3px;
                            font-size: 20px;
                            border: none;
                            border-radius: 10px;
                            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
                            outline: none;
                            cursor: pointer;
                            background-color: gold;
                            color: black;
                            &:hover {
                                opacity: 0.7;
                            }
                        }
                    }
                    .product-sum {
                        display: flex;
                        justify-content: space-between;
                        padding: 1.3em 0px 2em;
                        border-top: 1px solid #000;
                        .title {
                            font-weight: 700;
                            font-size: 18px;
                        }
                        .price {
                            font-weight: 700;
                            font-size: 18px;
                            color: red;
                        }
                    }
                    .button-group {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .pay {
                            width: 100%;
                            height: 50px;
                            font-weight: 700;
                            text-transform: uppercase;
                            font-size: 18px;
                            border: none;
                            border-radius: 10px;
                            margin-bottom: 10px;
                            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
                        }
                        .continue {
                            width: 100%;
                            height: 50px;
                            font-weight: 700;
                            text-transform: uppercase;
                            font-size: 18px;
                            border-radius: 10px;
                            filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.3));
                        }
                    }
                }
            }
        }
        .cart-empty {
            background: #fff;
            width: 700px;
            margin: 50px 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 15px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
            .spin-wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                .ant-spin-dot {
                    .ant-spin-dot-item {
                        background-color: #b76e22;
                    }
                }
            }
            p {
                font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, "Lucida Sans Regular", "Lucida Grande",
                    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
                text-align: center;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                margin: 30px 0px;
            }
        }
    }
}
