/* .slider{ */

@import "variables.scss";
.slider__bg {
    position: relative;
    .box-img{
        position: relative;
        width: 100%;
        height: 650px;
        img{
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__title {
        font-family: "FS Core Magic Rough";
        font-size: 44px;
        color: #fff;
        max-width: 700px;
        position: absolute;
        text-shadow: 0px 3px 10px #333;
        top: 230px;
        right: 65px;
    }
}



.btn-load {
    color: #000;
}
.slider {
    width: 100%;
    .img-box {
        width: 100%;
        height: 650px;
        img {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.four{
    width: 100%;
    height: 70vh;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/fashionshop-c6610.appspot.com/o/slider%2FHome-slider3.jpeg?alt=media&token=8c2e23a2-071a-4840-91ca-8252c1641408");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color: #fff;
    display: flex;
    justify-content: center;        
    .box{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 700px;
        .h_light{
            position: absolute;
            align-items: center;
            text-align: center;
            height: 25px;
            top: 205px;
            width: 600px;
            background: rgb(17, 17, 17);
            margin-left: 50px;
            p{
                font-size: 17px;
                letter-spacing: 45px;
                font-family: 'Love Monday';
            }
        }
        h1{
            font-family: "FS Core Magic Rough";
            font-size: 5em;
            color: #fff;
            filter: drop-shadow(5px 2px 2px rgb(121, 121, 121));
            margin: 0;
        }
        p{
            font-size: 1.5em;
            letter-spacing: 20px;
        }
        .button-wrapper{
            .btn10{
                width: 150px;
                height: 50px;
                font-size: 1.5em;
                font-weight: 500;
                letter-spacing: 5px;
                outline: none;
                border: 2px solid #fff;
                align-items: center;
                top: 40px;
                border-radius: 10px;
                font-family: "proxima-nova", sans-serif;
                cursor: hand;
                text-align: center;
                text-transform: capitalize;
                position: relative;
                overflow: hidden!important;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                background: transparent!important;
                z-index:10;
                
            }
            .btn10:hover{
                border: 2px solid #fff;
                color: #fff!important;
                cursor: pointer;
                transform: translateY(-5px);
                filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.8));
            }
            .btn10::before {
                content: '';
                width: 0%;
                height: 100%;
                display: block;
                background: #b76e22;
                position: absolute;
                  -ms-transform: skewX(-20deg);
                -webkit-transform: skewX(-20deg); 
                transform: skewX(-20deg);   
                left: -10%;
                opacity: 1;
                top: 0;
                z-index: -12;
                -moz-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
              -o-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
              -webkit-transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
              transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
                   box-shadow:2px 0px 14px rgba(0,0,0,.6);
              }             
            .btn10::after {
                content: '';
                width: 0%;
                height: 100%;
                display: block;
                background: rgb(131, 131, 131);
                position: absolute;
                -ms-transform: skewX(-20deg);
                -webkit-transform: skewX(-20deg); 
                transform: skewX(-20deg);   
                left: -10%;
                opacity: 0;
                top: 0;
                z-index: -15;
                -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
                -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
                -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
                transition: all .4s cubic-bezier(.2,.95,.57,.99);
                box-shadow: 2px 0px 14px rgba(0,0,0,.6);
            }
            .btn10:hover::before, .btn1O:hover::before{
                opacity:1;
                width: 116%;
            }
            .btn10:hover::after, .btn1O:hover::after{
                opacity:1;
                width: 120%;
            }
        } 
    }
}



